.atc-label-content {
    font-size: 16px;
    font-weight: 400;
}
.header-city-btn {
    width: 100%;
    border: none;
    background: rgba(94, 24, 12, 1);
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    padding: 13px 0px;
}
.atc-btn-content {
    font-size: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);

}
.atc-btns-content {
    font-size: 18px;
    font-weight: 400;
    color: rgba(189, 189, 189, 1);
    line-height: 27px;

}
.bi-geo-alt{
 font-size: 18px;
color: rgba(214, 185, 0, 1);

}
.pad-left{
    margin-left: 20px;

}
.pad-rgt{
   margin-right: 17px;
    margin-left: 20px;
    width: 20%;
    position: relative;
 
}
.pad-rgt::after{
    content: '';
    position: absolute;
    z-index: 0;
    top: 8%;
    right: 0px;
    width: 1px;
    height: 63.77px;
   background: rgba(189, 189, 189, 1)
 
}
.cal-contet .p-button {
    color: rgba(214, 185, 0, 1);
    background: #fff;
    border: none;
    padding-right: 19px;
}
.cal-contet .p-button:hover{
    color: rgba(214, 185, 0, 1);
    background: #fff;

}
.dia-title-nam{
    font-size: 16px;
    line-height: 24px;
    color: rgba(35, 32, 32, 1);
    font-weight: 500;
    // text-transform: capitalize;

}
.atc-on-trv{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(112, 112, 112, 1);
}
.crd-shawdrop{
    box-shadow: 2.909090995788574px 2.909090995788574px 7.2727274894714355px 0px rgba(0, 0, 0, 0.1);
border-radius: 7px;
overflow: hidden;
}
.selcted-num{
    width: 50px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.atc-pr-nam{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(35, 32, 32, 1);
    border-radius: 7px;
    padding: 10px 20px;

}
.apply-btun{
    border-radius: 30px;
    background: rgba(128, 0, 32, 1);
    color: rgba(255, 255, 255, 1);
border: none;
padding: 12px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}