/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/saga-blue/theme.css';
// @import 'node_modules/bootstrap/scss/bootstrap';
@import "./assets/scss/stylemain.scss";




* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins-Regular";


}

.header-city-dpdn .p-dropdown {
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    background: rgba(94, 24, 12, 1);
    box-shadow: none;

}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: rgba(94, 24, 12, 1);
    border-color: rgba(94, 24, 12, 1);
    color: #fff;
    font-size: 18px;
}
.flight-info-wrapper .p-tabview .p-tabview-nav {
    width: 312px;
    background: none;
    border: none;
    border-top-right-radius: 15px;
    overflow: hidden;
    
.p-tabview-nav-link {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
   
}
.flight-info-wrapper .p-tabview .p-tabview-panels {
    border-top-right-radius: 15px;


    }
.flight-info-wrapper  .ltc-title{

}
.gradientbg .p-radiobutton {
    width: 16px;
    height: 17px;
}
.gradientbg .p-radiobutton .p-radiobutton-box {
   
    width: 16px;
    height: 17px;
    background: #fff

}
.gradientbg .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #5E180C;
    background: white;
}
.gradientbg .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 10px;
    height: 10.63px;
    background: #22252A;

}
.gradientbg .p-radiobutton .p-radiobutton-box.p-highlight {
    background: white;

}
.gradientbg .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: white;
    color: #ffffff;
    border-color: #22252A;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #22252A;
}